
@{
    ViewData["Title"] = "Authorize";

    //var list = new 
}

<h1>角色权限</h1>



<ul>

    @foreach (var item in Permissions.GetAll())
    {
        <li> @Html.CheckBox(item)</li>

        

    }

</ul>

