@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@using LinFx.Extensions.Identity.IdentityServer.Configuration.Constants
@model string
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationConsts.AdministrationPolicy)).Succeeded)
{
    <a class="menu-item my-2 btn btn-outline-primary mr-md-3" href="@Model">@Localizer["IdentityServerAdmin"]</a>
}