@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:;">@User.Identity.Name!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">退出</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-page="/Account/Login">登录</a></li>
        <li><a asp-area="" asp-page="/Account/Register">注册</a></li>
    </ul>
}
